body{
    
    background-imagem: url("bg.png");
   
}
h1, a, p, table{
    color:#fff;   
}
h1, a, p, table{
    text-align: center;   
}


.header{
    background-color:;    
    text-align: center;
    
}
.conteudo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    border-radius: 8px;
    padding: 20px;
}


