body{
    
    background-imagem: url("bg.png");
    background-repet: no-repet;
    text-align: center;
}


header{
    background-color:#B03060;    
    text-align: center;
    padding: 20px;
    
}

