body{

    background-image: url(bg.png);
}

h1, a, p, table{
    color: #fff;   
}

h1, a, p, img, table{
    text-align: center;   
}

th, td{
    text-align: center;  
}

.header{
    background-color: rgba(24, 23, 23, 0.582);    
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 50%;
    margin-left: 20px; 
}

nav a{
    width: 100px;
    margin: 25px;
    text-decoration: none;
    background-color: rgba(255, 0, 157, 0.753);
    border-radius: 6px;
    border-color: #000;
}

nav a:hover{
    background-color: #fff;
    color: #000;
}

.conteudo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 50%;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin-left: 25%;
    color: #fff;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

table{
    width: 50%;
    height: 50%;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    margin-left: 25%;
    background-color: #A52A2A;
}

.form{
    width: 90%;
    height: 250%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

.leg{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

#texto{
    width: 550px;
    height: 160px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#name{
    width: 350px;
    margin-top: 5%;
    text-align: center;
}

#lName{
    width: 310px;
    text-align: center;
}

#e-mail{
    width: 350px;
    text-align: center;
}

#number{
    text-align: right;
    margin-bottom: 6%;
}

#botao{
    width: 100px;
    height: 40px;
    font-style: initial;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
